@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    --primary-color: #313131;
    --secondary-color: #FFFFFF;
    --black: #0C0C0C;
    --notosans-regular:'NotoSans-Regular';
    --notosans-light:'NotoSansKR-Light';
    --notosans-medium:'NotoSansKR-Medium';
    --notosans-semibold:'NotoSansKR-Bold';
}

body {
    background: var(--secondary-color);
}

/* HEADER START */

.header__prenav {
    background: var(--primary-color);
    height: 50px;
}

.header__prenav-phone::before {
    content: '\f879';
}

.header__prenav-user::before {
    content: '\f007';
}

.header__prenav-cart::before {
    content: '\f07a';
}

.header__prenav-phone {
    margin-left: 80px;
}

.header__prenav-user {
    margin-left: 33px;
}

.header__prenav-cart {
    margin-left: 42px;
}

.prenav__icon {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 300;
    margin-right: 2px;
}

.prenav__icon:hover {
    color: var(--secondary-color);
}

.header__prenav-link {
    color: var(--secondary-color);
    display: inline-block;
    font-size: 14px;
    font-family: var(--notosans-regular);
    text-align: center;
    letter-spacing: 0.07em;
}

.header__prenav-link:hover {
    color: var(--secondary-color);
}

.prenav_link {
    color: var(--secondary-color);
    font-family: var(--notosans-regular);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
}

.prenav_link:hover {
    color: var(--secondary-color);
}

.prenav__dropdown-eng {
    font-family: var(--notosans-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
}

.prenav__dropdown-eng:hover {
    background: none;
    color: var(--primary-color);
}

.prenav__dropdown-ru {
    font-family: var(--notosans-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ABABAB;
}

.prenav__dropdown-ru:hover {
    background: none;
    color: #ABABAB;
}

.prenav__drop {
    width: 70px;
    height: 1px;
    background: #C4C4C4;
}

.header__logo::before {
    content: url('../images/Logo.png');
}

.header__logo {
    width: 187px;
    height: 64px;
}



.header__search-icon::before {
    content: '\f002';
}

.header__search-icon {
    margin-right: 4px;
}

.header__content {
    height: 100px;
}

.header__conent-search {
    background: var(--primary-color);
    width: 190px;
    height: 50px;
}

.header__search-link {
    font-size: 14px;
    line-height: 19px;
    font-family: var(--notosans-regular);
    color: var(--secondary-color);
    border: 1px solid #313131;
    box-sizing: border-box;  
}

.header__search-link:hover {
    color: var(--secondary-color);
}

.header__search {
    border: 1px solid #313131;
    box-sizing: border-box;   
    border-radius: 0;  
    font-size: 14px;
    line-height: 19px;
    color: #BBBBBB;
    font-family: var(--notosans-regular);
    height: 50px;
    width: 460px;
}

.header__content-list {
    margin-left: 60px;
}

.header__nav-link {
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    font-family: var(--notosans-regular);
    margin-left: 18px;
}

.header__nav-link:hover {
    color: var(--primary-color);
}

.header__nav-dropdown {
    font-family: var(--notosans-regular);
    font-size: 16px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.header__nav-dropdown:hover {
    color: var(--primary-color);
    background: none;
}

.header__nav-down {
    font-family: var(--notosans-light);
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    margin-left: 17px;
    margin-bottom: 3px;
}
.header__nav-down:hover {
    color: var(--primary-color);
}

.header__nav-list {
    width: 300px;
    height: 210px;
    background: var(--secondary-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.carousel-indicators [data-bs-target] {
    background: #ABABAB;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active {
    background: var(--primary-color);
    width: 15px;
    height: 15px;
}

.header__toggler {
    font-size: 30px;
    color: var(--secondary-color)
}

.header__toggler::before {
    content: '\f0c9';
}

.header__slider-text {
    font-family: var(--notosans-semibold);
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    width: 624px;
    text-align: center;
    margin-top: 113px;
}

.header__slider-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 13px 46px;
    margin-top: 121px;
    display: block;
    width: 200px;
}

.header__slider-link:hover {
    color: var(--secondary-color);
}

.header__slider-content {
    margin-top: 50px;
}

.main__about-left {
    width: 630px;
    height: 500px;
    background: #F4F4F4;
    position: relative;
}

.main__left-description {
    position: absolute;
    margin: 20px 0 0 20px;
}
.main__left-link {
    position: absolute;
    top: 0;
    margin: 390px 0 0 20px;
}

.main__left-cost {
    position: absolute;
    top: 0;
    margin: 430px 0 0 20px;
}

.cost {
    font-family: var(--notosans-regular);
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    line-height: 70px;
}

.title {
    font-family: var(--notosans-medium);
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    line-height: 70px;
}

.title:hover {
    color: var(--primary-color);
}
.discount {
    font-family: var(--notosans-regular);
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
    width: 70px;
    height: 70px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
}

.main__first-img {
    position: relative;
    z-index: -9;
}

.main__first-description {
    position: absolute;
    margin: 20px 0 0 20px;
}

.main__first-link {
    position: absolute;
    margin: 125px 0 0 20px;
}

.main__first-cost {
    position: absolute;
    margin: 165px 0 0 20px;
}

.main__about-right {
    margin-left: 30px;
}

.main__second-left {
    background: #F4F4F4;
    width: 300px;
    height: 235px;
    margin-top: 30px;
    position: relative;
}

.main__second-link {
    position: absolute;
    margin: 15px 0 0 20px;
    display: block;
    font-family: var(--notosans-medium);
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
}

.main__second-cost {
    position: absolute;
    margin: 63px 0 0 20px;
    font-family: var(--notosans-regular);
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
}

.main__second-img {
    position: absolute;
    display: block;
    margin-right: 20px;
}
.main__second-description {
    font-family: var(--notosans-regular);
    position: absolute;
    margin: 150px 0 0 20px;
    width: 70px;
    height: 70px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.main__second-right {
    background: #F4F4F4;
    width: 300px;
    height: 235px;
    margin-top: 30px;
    position: relative;
    margin-left: 30px;
}

.main__third-cost {
    position: absolute;
    margin: 40px 0 0 20px;
    font-family: var(--notosans-regular);
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
}

.main {
    margin-top: 60px;
}

.callphone-link {
    font-family: var(--notosans-regular);
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
    width: 190px;
    height: 50px;
    background: var(--primary-color);
}

.main__callphone-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 550px;
}

.callphone-link:hover {
    color: var(--secondary-color);
}

.main__callphone-title {
    font-family: var(--notosans-regular);
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: var(--primary-color);
    margin-top: 70px;
}

.main__callphone-item {
    margin-top: 30px;
    padding-left: 30px;
}

.main__callphone-item:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.main__callphone-item:nth-of-type(1) {
    margin-top: 30px;
    margin-left: 0;
}

.main_item-link {
    font-family: var(--notosans-regular);
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-color);
    position: absolute;
    margin: 220px 0 0 26px;
    display: block;
}

.main_item-link:hover {
    color: var(--primary-color);
}
.main__callphone-description {
    font-family: var(--notosans-regular);
    font-size: 14px;
    line-height: 19px;
    color: var(--primary-color);
    position: absolute;
    margin: 250px 0 0 129px;
}

.yellow {
    margin-left: 38px;
}

.blue {
    margin-left: 45px;
}

.red {
    margin-left: 46px;
}

.lenovo {
    margin-left: 43px;
}

.dream {
    margin-left: 20px;
}

.macbook {
    margin-left: 43px;
}

.dream2 {
    margin-left: 57px;
}

.main__callphone-item {
    margin-left: 30px;
    margin-top: 30px;
}

.comp-link {
    margin-top: 90px;
}

.main__console-content {
    margin-top: 70px;
    position: relative;
}

.main__console-logo::before {
    content: url('../images/ps_logo.png');
}

.main__console-logo {
   margin: 94px 0 0 20px;
   display: block;
}

.main__console-title {
    font-family: var(--notosans-semibold);
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-color);
    margin: 20px 0 0 20px;
}

.main__console-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    width: 190px;
    height: 50px;
    background: var(--primary-color);
    display: block;
    text-align: center;
    padding-top: 14px;
    margin: 70px 0 0 20px;
}
.main__console-link:hover {
    color: var(--secondary-color);
}

.main__console-item {
    position: absolute;
    top: 0;
}

.smart {
    margin: 239px 0 0 32px;
}

.air {
    margin: 239px 0 0 120px;
}

.smartw34 {
    margin: 239px 0 0 34px;
}

.coffee {
   margin: 239px 0 0 34px;
}

.dollar {
    margin: 266px 0 0 145px;
}

footer {
    height: 230px;
    background: var(--primary-color);
    margin-top: 70px;
}

.footer__logo::before {
    content: url('../images/logo_dark.png');
}

.footer__logo {
    margin-top: 30px;
}

.footer__content-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    margin: 30px 0 0 201px;
    display: block;
}

.footer__content-link:hover {
    color: var(--secondary-color);
}

.footer__search-list {
    margin: 5px 0 0 201px;
}

.footer__search-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    width: 190px;
    height: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding-top: 12px;
}

.footer__search-link:hover {
    color: var(--secondary-color);
}

.footer__search {
    width: 330px;
    height: 50px;
    border-radius: 0;
}

.footer__about-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    margin-left: 30px;
}
.footer__about-link:nth-of-type(1) {
    margin-left: 0;
}

.footer__about-link:hover {
    color: var(--secondary-color);
}

.footer__about-links {
    margin: 50px 0 0 201px;
}

.footer__icon-telegram::before {
    content: '\f1d8';
}
.footer__icon-facebook::before {
    content: '\f09a';
}
.footer__icon-instagram::before {
    content: '\f16d';
}

.icons {
    font-size: 41px;
    line-height: 37px;
    background: none;
    color: var(--secondary-color);
    margin-left: 23px;
}

.icons:nth-of-type(1) {
    margin-left: 0;
}

.icons:hover {
    color: var(--secondary-color);
}

.footer__about-icons {
    margin: 65px 0 0 54px;
}

.main__callphone_love::before {
    content: '\f004';
}

.main__callphone_love {
    line-height: 15px;
    font-size: 0;
    position: absolute;
    margin: 17px 0 0 266px;
    color: var(--primary-color);
    transition: 0.5s;
}

.main__callphone_love:hover {
    color: var(--primary-color);
    font-size: 17px;
}

.main__callphone-buy {
    font-family: var(--notosans-regular);
    font-size: 0;
    line-height: 19px;
    text-align: center;
    width: 100px;
    height: 30px;
    padding-top: 5px;  
    position: absolute; 
    margin: 282px 0 0 100px;
    transition: 0.5s;
    color: var(--secondary-color);
}

.main__callphone-buy:hover{
    font-size: 14px;
    background: var(--primary-color); 
    color: var(--secondary-color);
}

.main__callphone-apple {
    font-family: var(--notosans-regular);
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-color);
}

.learn {
    margin-top: 80px;
    margin-bottom: 80px;
}

.sam {
    margin-left: 0;
}

.main__xbox {
    position: relative;
}

.main__xbox-content {
    position: absolute;
    top: 0;
}

.main__xbox-title {
    font-family: var(--notosans-regular);
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-color);
    margin: 10px 0 0 20px;
}

.main__xbox-description {
    font-family: var(--notosans-regular);
    font-size: 24px;
    line-height: 33px;
    color: var(--primary-color);
    width: 454px;
    margin: 10px 0 0 20px;
}

.main__xbox-link {
    font-family: var(--notosans-regular);
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    width: 190px;
    height: 50px;
    background: var(--primary-color);    
    display: block;
    text-align: center;
    padding-top: 13px;
    margin: 280px 0 0 20px;
}

.main__xbox-link:hover {
    color: var(--secondary-color);
}

.main__xbox-line {
    height: 195px;
    background: #E3E3E3;
    margin-top: -195px;
}

.main__next-link {
    font-family: var(--notosans-regular);
    font-size: 30px;
    line-height: 41px;
    color: #ABABAB;
}

.main__next-link:hover {
    color: #ABABAB;
}

.main__next-link:nth-of-type(1) {
    font-family: var(--notosans-regular);
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-left: 0;
}

.main__next-icon::before {
    content: '\f324';
}

.main__next-icon {
    color: #000000;
    line-height: 18px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 7px;
}

.main__next-icon:hover {
    color: #000000;
}

.main__next-span {
    width: 2px;
    height: 35px;
    background: var(--primary-color);
    margin-left: 10px;
    margin-right: 10px;
}

.main__next-span:nth-of-type(2) {
    background: #ABABAB;
}

.main__next-span:nth-of-type(3) {
    background: #ABABAB;
}

.main__next-content {
    margin-top: 50px;
}

.main__buy-title {
    font-family: var(--notosans-regular);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    
}
.main__buy-cost {
    font-family: var(--notosans-regular);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 40px;    
}

.main__buy-product {
    font-family: var(--black);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 20px;
}

.main__buy-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primary-color);
    display: block;
    margin-top: 18px;
}

.main__buy-dot:nth-of-type(1) {
    margin-top: 12px;
}

.main__buy-description {
    font-family: var(--notosans-regular);
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.05em;
    color: #000000;  
    margin-left: 15px;
}

.main__buy-descriptions {
    margin-top: 10px;
}

.mini {
    margin-top: 30px;
}

.buy__left-imgmini {
    margin-right: 30px;
}


.main__buy-cart {
    width: 190px;
    height: 50px;
    background: var(--primary-color); 
    margin-right: 30px;   
}

.main__buy-link {
    width: 190px;
    height: 50px;
    background: var(--primary-color);
    display: block;
    padding: 10px 0 0 45px;
    font-family: var(--notosans-regular);
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
}

.main__buy-link:hover {
    color: var(--secondary-color);
}

.buy__link-icon {
    margin: 16px 9px 0 55px;
    line-height: 20px;
    font-size: 20px;
}

.buy__link {
    font-family: var(--notosans-regular);
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
    margin-top: 10px;
}

.main__buy-links {
    margin-top: 30px;
}

.buy__left {
    margin-right: 30px;
}

.main__buy-bigphone {
    width: 409px;
    height: 410px;
}

.main__vr-title {
    font-family: var(--notosans-regular);
    font-size: 48px;
    color: var(--primary-color);
    font-weight: 600;
    margin: 20px 0 0 770px;
}

.main__vr-description {
    font-family: var(--notosans-regular);
    font-size: 24px;
    line-height: 33px;
    color: #313131;
    width: 454px;
    margin: 39px 0 0 805px;
}

.main__vr {
    position: relative;
    margin-top: 40px;
    margin-bottom: 70px;
}

.learn-vr {
    margin: 116px 0 0 937px;
}

.main__vr-group {
    position: absolute;
    top: 0;
}
/* HEADER END */